.header-img{
    background-image: url("/assets/imgs/showtec_logotipo_white_wallpaper.jpg");
    background-position: top;
    height: 800px;
}
header .row{
    height: 110px;
    margin-right: 200px;
}
header .row .col-2{
    margin-left: 300px;
}
header .row a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
@media (max-width: 1468px) {
    .navbar a{display: none;}
}